/* ###################################################################

	// 1. RESET STYLES
	// 2. PAGE SECTIONS STYLES
	// 3. TYPOGRAPHY
	// 4. COLUMNS
	// 5. HEADER
	// 6. FEATURED MOVIES
	// 7. CONTENT WRAPPER
	// 8. FOOTER
	// 9. OTHERS

################################################################### */

/* // 1. RESET STYLES */
/* ################################################################ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{cursor:default}



/* // 3. TYPOGRAPHY */
/* ################################################################ */
body { font-family: Helvetica, Arial, sans-serif; }

/* Header Top Navigation Menu Links */
#header .nav li a {
	font-weight: bold;
	font-size: 12px;
	color: #eeeeee;
	text-shadow: 1px 1px 0px rgba(0,0,0, .6);
}

/* Header Featured Movie Title */
#header-featured-movie h1 {
	font-weight: bold;
	font-size: 20px;
	color: #eeeeee;
	text-shadow: 1px 1px 0px rgba(0,0,0, .6);
}

/* Header Featured Movie Sub-Title */
#header-featured-movie h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;	
	color: #5293c2;
}

/* Header Featured Movie Paragraph */
#header-featured-movie p {
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	color: #979797;
}

/* Header Featured Movie Trailer Title */
#header-featured-movie .movie-trailer-slider li a h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;	
	color: #979797;
}



/* // 2. PAGE SECTIONS STYLES */
/* ################################################################ */
#header {
	width: 100%;
	height: 490px;
	background: #222222 url(../img/header-bg.png) repeat-x 0 0;
}

#featured-movies-wrapper {
	width: 100%;
	background: #ffffff;
}

#content-wrapper {
	width: 100%;
	background: #efefef url(../img/content-bg.png) repeat-x 0 0;
}

#blog-posts {
	position: relative;
	width: 500px;
	float: left;
}

#side-bar {
	position: relative;
	width: 315px;
	float: right;
}

#footer {
	width: 100%;
	background: #181818 url(../img/footer-bg.png) repeat-x 0 0;
}

/* Center Pages */
.center-wrapper {
	position: relative;
	width: 870px;
	margin: 0 auto;
}



/* // 5. HEADER */
/* ################################################################ */
/* Top Navigation Bar Styles */
#top-nav { height: 44px; }

.title {
	position: absolute;
	top: 0;
	left: 0;
}

/* Top Navigation Menu */
.nav {
	position: absolute;
	top: 0;
	left: 220px;
}

.nav li {
	display: block;
	float: left;
	height: 24px;
	padding: 10px 0;
}

.nav li a {
	display: block;
	height: 24px;
	line-height: 24px;
	padding: 0 15px;
	background: url(../img/nav-border.png) no-repeat center right;
}

.nav li:last-child a { background: none; }

/* Top Navigation Search Box */
#search-form {
	position: absolute;
	top: 7px;
	right: 0;
}

#search-form input#search-box {
	width: 150px;
	height: 30px;
	padding: 0 40px 0 10px;
	border: none;
	outline: none;
	
	background: #ffffff;
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%);

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#search-form input#search-submit {
	position: absolute;
	display: block;
	cursor: pointer;
	width: 30px;
	height: 30px;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: transparent url(../img/search-icon.png) no-repeat 0 0;
}

/* Header Featured Movie Section */
#header-featured-movie {
	overflow: hidden;
	height: 446px;
}

/* Header Featured Movie Cover */
#header-featured-movie .movie-cover {
	position: absolute;
	top: 50px;
	left: 110px;
	width: 230px;
	height: 320px;
}

/* Header Featured Movie Rating */
#header-featured-movie .movie-rating {
	position: absolute;
	top: 385px;
	left: 180px;
}

#header-featured-movie .movie-rating li {
	display: block;
	float: left;
	cursor: pointer;
	width: 18px;
	height: 18px;
	background: url(../img/star-icon.png) no-repeat 0 0;
}

#header-featured-movie .movie-rating li.rated { background-position: 0 -18px; }

/* Header Featured Movie Titles */
#header-featured-movie h1 {
	position: absolute;
	top: 73px;
	left: 385px;
}

#header-featured-movie h3 {
	position: absolute;
	top: 50px;
	left: 385px;
}

/* Header Featured Movie Paragraph */
#header-featured-movie p {
	position: absolute;
	top: 120px;
	left: 385px;
	width: 340px;
	padding: 20px;
	background: rgba(0,0,0,.2);
}

/* Header Featured Movie Paragraph Arrow */
#header-featured-movie p:before {
	position: absolute;
	content: '';
	top: -20px;
	left: 25px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,.2);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

/* Header Featured Movie Trailer Slider */
#header-featured-movie #movie-trailers {
	position: absolute;
	overflow: hidden;
	top: 240px;
	left: 385px;
	width: 380px;
	height: 122px;
}

#header-featured-movie .movie-trailer-slider li {
	display: block;
	float: left;
	width: 172px;
	height: 122px;
	margin-right: 36px;
	background: rgba(0,0,0,.2);
}

#header-featured-movie .movie-trailer-slider li a {
	display: block;
	padding: 5px;
}

/* Header Movie Trailers Next & Prev Buttons */
#header-featured-movie .md-prev-button,
#header-featured-movie .md-next-button {
	position: absolute;
	display: block;
	width: 11px;
	height: 14px;
	top: 295px;
	left: 360px;
	background: url(../img/next-prev.png) no-repeat 0 0;
}

#header-featured-movie .md-next-button {
	left: 780px;
	background-position: -11px 0;
}